@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #1C1C1C;
  font-family: 'Inter', sans-serif;
  color: #293264;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.container {
  background-color: #F5F7FB;
  position: relative;
  height: 90vh;
  width: 90vw;
}

.blue-blob {
  position: absolute;
  bottom: 0;
}

.yellow-blob {
  position: absolute;
  right: 0;
}

.start--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1em;
  text-align: center;
  z-index: 1;
  position: relative;
}

.start--button {
  background-color: #4D5B9E;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  color: #F5F7FB;
  width: 200px;
  height: 50px;
  margin-top: 1.5em;
  cursor: pointer;
}

.question-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.answers {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.answer {
  border: 1px solid #4D5B9E;
  border-radius: 15px;
  padding: .5em 1em;
}

.question {
  font-weight: bold;
}