@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@700&display=swap');

/* GENERAL STYLES */
* {
  box-sizing: border-box;
}

body {
  background-color: #1C1C1C;
  font-family: 'Inter', sans-serif;
  color: #293264;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F7FB;
  background-image: url(./images/blue-blob.png), url(./images/yellow-blob.png);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  min-height: 90vh;
  width: 90vw;
  margin: 1em 0;
  padding: 3em 0;
  border-radius: 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4D5B9E;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  color: #F5F7FB;
  cursor: pointer;
  height: 50px;
  width: 200px;
}








/* START COMPONENT */

.start--title {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.start--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

.start--loading {
  font-style: italic;
}

.start--button {
  margin-top: 1.5em;
}




/* QUIZ COMPONENT */

.quiz--content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.quiz-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.quiz--results {
  margin: 0 .5em;
  text-align: center;
  font-weight: bold;
}





/* QUESTION COMPONENT */

.question-container {
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}

.question--divider {
  border: none;
  border-top: 1px solid #DBDEF0;
  margin: 1.8em 0;
}

.question {
  font-weight: bold;
  margin-bottom: 1em;
}

.answers {
  display: flex;
  flex-wrap: wrap;
}

.answer {
  border: 1px solid #4D5B9E;
  border-radius: 15px;
  padding: .5em 1em;
  margin-top: .5em;
  margin-right: 1em;
  cursor: pointer;
}

.answer:hover,
.answer:target {
  background-color: #D6DBF5;
}




/*  MEDIA QUERIES */

@media (min-width: 900px){
  .container {
    max-width: 1400px;
  }

  .quiz-result-container {
    flex-direction: row;
    gap: 4em;
  }
}